desafio-tecnico-4Blue.json
{
  "name": "desafio-tecnico-4Blue",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nova-matricula",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d054e15f-39f2-46ff-9d1f-7fab67f60327",
      "name": "Webhook",
      "webhookId": "e8dbc8da-b12e-4897-bf91-5d00010521a2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json.body;\n\nconst nome = item.nome_completo\n  .toLowerCase()\n  .split(\" \")\n  .map(p => p.charAt(0).toUpperCase() + p.slice(1))\n  .join(\" \");\n\nconst telefone = item.telefone.replace(/\\D/g, \"\");\n\nconst [dia, mes, ano] = item.data_nascimento.split(\"/\");\nconst dataNascimento = `${ano}-${mes}-${dia}`;\n\nreturn [\n  {\n    json: {\n      nome,\n      email: item.email_aluno,\n      telefone,\n      data_nascimento: dataNascimento,\n      curso: item.curso_escolhido.trim()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "926b2e7e-c143-4591-8483-42e8dc3eecc6",
      "name": "Code in JavaScript",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.curso}}",
                    "rightValue": "Tech",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2071e355-e551-4f73-95ac-833697c55db9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "38c66dae-e25b-4cdd-a78d-ee8732e808ef",
                    "leftValue": "={{$json.curso}}",
                    "rightValue": "Business",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        416,
        0
      ],
      "id": "59b31654-a7c5-4ae5-a4ed-e2e86f58ac0d",
      "name": "Switch"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "matriculas_tech",
          "mode": "list",
          "cachedResultName": "matriculas_tech"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $json.nome }}",
            "email": "={{ $json.email }}",
            "telefone": "={{ $json.telefone }}",
            "data_nascimento": "={{ $json.data_nascimento }}",
            "curso": "={{ $json.curso }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_nascimento",
              "displayName": "data_nascimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "curso",
              "displayName": "curso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        -96
      ],
      "id": "dbdf9df0-2353-4d12-a0cf-a38de00df6bb",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "U3LyL4KThQphzdfp",
          "name": "Postgres account 19"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code in JavaScript').item.json.email }}",
        "subject": "=Bem-vindo ao curso {{ $('Code in JavaScript').item.json.curso }}!",
        "message": "=Olá {{ $('Code in JavaScript').item.json.nome }}, sua matrícula no curso {{ $('Code in JavaScript').item.json.curso }} foi recebida com sucesso!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        832,
        -96
      ],
      "id": "62cfdd3d-a357-4a95-96ad-c3648701fca9",
      "name": "Send a message",
      "webhookId": "eda83ccf-2f98-464a-a30b-5e7752ddb65c",
      "credentials": {
        "gmailOAuth2": {
          "id": "l3Fq7LGxuU0gXrZF",
          "name": "Gmail account 18"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "matriculas_biz",
          "mode": "list",
          "cachedResultName": "matriculas_biz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $json.nome }}",
            "email": "={{ $json.email }}",
            "telefone": "={{ $json.telefone }}",
            "data_nascimento": "={{ $json.data_nascimento }}",
            "curso": "={{ $json.curso }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_nascimento",
              "displayName": "data_nascimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "curso",
              "displayName": "curso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        144
      ],
      "id": "d9e85a94-52fd-435c-b13a-e56c327490b2",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "U3LyL4KThQphzdfp",
          "name": "Postgres account 19"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code in JavaScript').item.json.email }}",
        "subject": "=Bem-vindo ao curso {{ $('Code in JavaScript').item.json.curso }}!",
        "message": "=Olá {{ $('Code in JavaScript').item.json.nome }}, sua matrícula no curso {{ $('Code in JavaScript').item.json.curso }} foi recebida com sucesso!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        912,
        160
      ],
      "id": "19594afc-8e7f-4a21-a867-0e8820901f08",
      "name": "Send a message1",
      "webhookId": "eda83ccf-2f98-464a-a30b-5e7752ddb65c",
      "credentials": {
        "gmailOAuth2": {
          "id": "l3Fq7LGxuU0gXrZF",
          "name": "Gmail account 18"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0509b675-fd23-4f7b-961c-62dae7fb9ba8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc0bcbaed5942825d40eb7dd9dcbb6ab0108046af92a3af9d5e04ea54a24a948"
  },
  "id": "XVMqDvbDpvKlS1vx",
  "tags": []
}